.form {
    margin: 0 auto;
    max-width: 100%;

    @media (min-width: 576px) {
        max-width: 400px;
    }

    &__boxes {
        display: grid;
        grid-template-columns: repeat(2, 47%);
        grid-column-gap: 20px;
    }

    &__box {
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }

    &__box_small-gutter {
        margin-bottom: 10px;
    }

    &__input-wrap {
        position: relative;
    }

    &__input {
        padding: 18px 20px;
        background-color: $gray-light;
        border: 1px solid $gray-light;
        border-radius: 8px;
        font-size: 14px;
        line-height: 19px;
        outline: none;
        max-width: 100%;
        height: 56px;
        font-family: $main-font;
        font-weight: 500;

        &[type="text"]:focus,
        &[type="password"]:focus,
        &[type="email"]:focus,
        &[type="tel"]:focus {
            border: 1px solid $red;
        }
    }

    &__input-password {
        padding-right: 40px;
        width: 100%;
    }

    &__eye-wrap {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
        cursor: pointer;
    }

    &__eye {
        height: 18px;
        width: 24px;

        @media (min-width: 576px) {
            height: 24px;
        }
    }

    &__text {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 177%;
        color: $black;
    }

    &__text_requared {
        margin-bottom: 10px;
        color: $gray-dark;
        line-height: 215%;
    }

    &__label {
        margin-bottom: 13px;
        color: $gray-dark;
    }

    &__label-checkbox {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 20px;
        color: $gray-dark;
        cursor: pointer;

        @media (min-width: 576px) {
            line-height: 28px;
        }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__checkbox+label {
        display: flex;
        align-items: center;
        user-select: none;
    }

    &__checkbox+label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $gray;
        border-radius: 0.25em;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 75% 95%;
    }

    &__checkbox:checked+label::before {
        border-color: $green;
        background-color: $green;
        background-image: url(../img/form/checkbox-arrow.svg);
    }

    &__checkbox:not(:disabled):not(:checked) + label:hover::before {
        border-color: $green;
    }

    &__checkbox:focus:not(:checked)+label::before {
        border-color: $green;
    }

    &__link {
        text-decoration: none;
        color: $red;

        &:hover {
            color: $red-light;
        }
    }

    &__button {
        padding: 8px 20px;
        width: 100%;
        background-color: $red;
        color: $white;
        box-shadow: 0px 20px 25px rgba(209, 26, 42, 0.15);
        border-radius: 12px;
        border: none;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $red-light;
        }

        &:active {
            background-color: $red;
        }

        &:disabled {
            background-color: $gray;
        }
    }
}
